@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    C# Fabriek<br />
    Hospitaaldreef 5, 1315 RC Almere<br />
    <abbr title="Phone">P:</abbr>
    06 - 514 232 56
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@windesheim.nl">info@windesheim.nl</a><br />
    <strong>Developer team:</strong> <a href="mailto:teamCS2@windesheim.nl">teamCS2@windesheim.nl</a>
</address>