@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maak een reservering!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hier begint het!</h2>
        <p>
            Moet u gauw naar een belangrijke date? Bent u van plan om de prachtige bezienswaardigheden van Almere te bezoeken?
            Dat is geen probleem, wij hier bij BikeRental bieden u de beste vervoersmiddelen voor al uw belangrijke en
            onbelangrijke zaken: fietsen. Dit is het startpunt voor uw avontuur!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aanbod</h2>
        <p>
            Als fietsverhuurders verkopen wij u de gaafste ervaringen met behulp van onze geweldige fietsen! Wij bieden
            tijdelijk gebruik van onze fietsen: u maakt gebruik van onze fietsen en wij horen graag uw mooie ervaringen.
            Natuurlijk verdienen wij er een centje bij ;-)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Voor u het beste</h2>
        <p>
            Selecteer een fiets naar uw voorkeuren. We hebben dames fiestsen, heren fietsen, mountain bikes en veel meer
            van het beste in onze panden, u noemt het! Wij vinden het belangrijk dat u het beste krijgt, maak daarom
            vandaag een reservering aan!
        </p>
    </div>
</div>